html {
    /* font-family: Times, serif; */
    font-family: Lucida Grande, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.title { text-align: center; }
.todo  { color: red; }
.done { color: green; }
.timestamp { color: grey }
.timestamp-kwd { color: CadetBlue }
.tag { background-color:lightblue; font-weight:normal }
/*.target { background-color: lavender; }*/
pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: courier, monospace;
}
table { border-collapse: collapse; }
td, th {
    vertical-align: top;
    border: 1pt solid #ADB9CC;
}

/* Added by Will 03 Sep 2007 */
li {padding: 4px; }
div {
    /* border: 1px dotted;  */
    padding: 1.5px;
}
span {padding: 1.5px; }
.Will { background-color: #B0D8FF; }
.Alan { background-color: #E9FFB0; }
.Remy { background-color: #D0D0FF; }
.Ricardo { background-color: #D0FFD0; }
.Rosa { background-color: #FFD0D0; }
.Paola { background-color: #FFB0E9; }
.Vladimir { background-color: #E9B0FF; }
.Susana { background-color: #FFE9B0; }
.Luis { background-color: #B0FFE9; }

/* Added by Will 08 Oct 2007 */ 

/* Headings shamelessly copied from MoinMoin theme "sinorca4moin" by David Linke*/

h1, h2, h3, h4, h5 {
	margin: 1em 0 0.5em 0;
	padding: 0px 5px 2px;
        font-weight: bold;
	color: black;
	line-height: 1.2em;
}	
 
h1 {
    font-size: 1.4em;
    background-color: rgb(240,240,200);
    border-bottom: 2px solid rgb(100,135,220);
    border-left: 1px solid rgb(100,135,220);
}
h2 {
    font-size: 1.25em;
    background-color: rgb(240,240,200);
    border-bottom: 2px solid rgb(100,135,220);
    border-left: 1px solid rgb(100,135,220);
}
h3 {
    font-size: 1.15em;
    border-bottom: 2px solid rgb(100,135,220);
}
h4, h5 {font-size: 1em;}
